Source: testdisk
Section: admin
Priority: optional
Maintainer: Jean-Michel Kelbert <kelbert@debian.org>
Uploaders: Roland Stigge <stigge@antcom.de>
Build-Depends: debhelper (>= 9.20160114), libext2fs-dev, libncurses-dev, ntfs-3g-dev [!hurd-i386], libjpeg-dev, uuid-dev, zlib1g-dev, dh-autoreconf, pkgconf, qttools5-dev-tools, qtbase5-dev
Standards-Version: 4.3.0

Package: qphotorec
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ntfs-3g
Replaces: testdisk
Conflicts: testdisk
Provides: testdisk
Description: Partition scanner and disk recovery tool, and PhotoRec file recovery tool
 QPhotoRec is file data recovery software designed to recover
 lost pictures from digital camera memory or even Hard Disks.
 It has been extended to search also for non audio/video headers.
 It searches for following files and is able to undelete them:
  * Sun/NeXT audio data (.au)
  * RIFF audio/video (.avi/.wav)
  * BMP bitmap (.bmp)
  * bzip2 compressed data (.bz2)
  * Source code written in C (.c)
  * Canon Raw picture (.crw)
  * Canon catalog (.ctg)
  * FAT subdirectory
  * Microsoft Office Document (.doc)
  * Nikon dsc (.dsc)
  * HTML page (.html)
  * JPEG picture (.jpg)
  * MOV video (.mov)
  * MP3 audio (MPEG ADTS, layer III, v1) (.mp3)
  * Moving Picture Experts Group video (.mpg)
  * Minolta Raw picture (.mrw)
  * Olympus Raw Format picture (.orf)
  * Portable Document Format (.pdf)
  * Perl script (.pl)
  * Portable Network Graphics (.png)
  * Raw Fujifilm picture (.raf)
  * Contax picture (.raw)
  * Rollei picture (.rdc)
  * Rich Text Format (.rtf)
  * Shell script (.sh)
  * Tar archive (.tar )
  * Tag Image File Format (.tiff)
  * Microsoft ASF (.wma)
  * Sigma/Foveon X3 raw picture (.x3f)
  * zip archive (.zip)
